.dynamic-profile {
    visibility: hidden;
    display: none;
    color: #fff;
    padding-bottom: 30px;
}

.dynamic-nav-top {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background-color: #006400;
}

.dynamic1 {
    display: flex;
}

.dynamic-back-image,
.dynamic-next-image,
.dynamic-profile-image {
    width: 30px;
    border-radius: 40%;
    margin-right: 15px;
    background-position: center;
    cursor: pointer;
    background-size: cover;
    background-size: 70%;
    background-repeat: no-repeat;
}

.dynamic-back-image {
    background-image: url(../spotifyimages/backarrow.png);
}

.dynamic-next-image {
    background-image: url(../spotifyimages/move-next.png);
    padding-left: 15px;
}

.dynamic-profile-image {
    background-image: url(../spotifyimages/profile.png);
}

.dynamic-explore-premium {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-right: 10px;
    color: #111;
    border-radius: 30%;
    padding: 10px 5px;
}

.sect2-dynamic-section1 {
    display: flex;
    align-items: center;
    height: 300px;
    color: #fff;
    width: 100%;
}

.users-image-avatar {
    background-color: #fff;
    /* background-image: url(../spotifyimages/twitter.svg); */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center;
    cursor: pointer;
    margin-right: 10px;
    background-size: cover;
    background-size: 40%;
    background-repeat: no-repeat;
}

#dynamic-username {
    font-size: 65px;
    font-weight: 200;
}