/* the desktop footer section having the currently playing */

.desktop-footer {
    width: 100%;
    height: 12vh;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    background-color: #111;
    position: fixed;
    color: #fff;
    bottom: 0;
}

.desktop-footer1 {
    display: flex;
    align-items: center;
}

.playing-image {
    width: 100px;
    height: 100%;
    padding-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.playing-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    padding-left: 5px;
}

.desktop-footer2 {
    display: block;
    width: 380px;
}

.controllers {
    display: inline-block;
    align-items: center;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.controllers a {
    margin-right: 5px;
}

.controllers img {
    width: 30px;
}

.progress-bar {
    height: 6px;
    border-radius: 5px;
    width: 350px;
    background-color: #808080;
}

.desktop-footer3 {
    display: inline-block;
}

.desktop-footer3 img {
    width: 20px;
    cursor: pointer;
}

.desktop-footer3 a {
    margin: 5px;
}


/* the library section containing the playlist and the liked songs */

.playlist-container {
    display: flex;
    height: 65px;
    align-items: center;
}

.playlist-image {
    cursor: pointer;
    background-color: #0000ff;
    width: 50px;
    height: 50px;
    padding-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

#liked-image {
    cursor: pointer;
    background-image: url("../spotifyimages/first13.jpg");
    width: 50px;
    height: 50px;
    padding-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.playlist-name {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-left: 5px;
}


/* the toggled right section displaying all the songs in the playlist */

.last-section {
    width: 25%;
    margin-left: 10px;
    background-color: #201f1f;
    height: 85vh;
    border-radius: 8px;
    overflow-y: auto;
    margin-right: 10px;
}

.top-last-section {
    width: 100%;
    height: 40px;
    padding-right: 15px;
}

#back-image {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
    background-size: 70%;
    background-repeat: no-repeat;
    background-image: url("../spotifyimages/backarrow.png");
    background-color: #0000ff;
}

.starting-part {
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, #3498db, #8e44ad);
}